body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  color: #222;
}

header, footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

section {
  padding: 2rem;
}

h1, h2 {
  color: #357294;
}

ul {
  list-style: none;
  padding: 0;
}